/* background-image: url('scientific.jpg'); */
*{
    /* background-image: url('scientific.jpg') no-repeat; */
    margin: 0;
    padding: 0;
}

.red{
    /* if you want to use alpha then you have to write rgba for example: */
    /* where alpha is the opacity of the color... */
    background-color: rgb(173, 247, 229, 0.511);
    color: rgb(251, 251, 251);
}
.green{
    background-color: rgb(255, 225, 0);
    color: indigo;
    /* background-image: url('scientific.jpg'); */
}
.blue.paragraph{
background-color: rgba(30, 240, 121, 0.422);
color: white;
}
.paragraph{
background-color: rgb(174, 75, 75);
color: white;
}

body{
    background-image: url('scientific.jpg');
    background-size: contain;
    background-size: repesat;
    background-repeat: repeat;
    /* background-attachment: fixed; */
}