/* background-image: url('scientific.jpg'); */
*{
    /* background-image: url('scientific.jpg') no-repeat; */
    margin: 0;
    padding: 0;
}

.red{
    /* if you want to use alpha then you have to write rgba for example: */
    /* where alpha is the opacity of the color... */
    background-color: rgb(173, 247, 229, 0.511);
    color: darkgreen;
}
.green{
    background-color: rgb(255, 225, 0);
    color: indigo;
    /* background-image: url('scientific.jpg'); */
}
body{
    background-image: url('scientific.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
}